header {
  position: relative;
  /* background-color: bisque; */
  height: 70px;
}
header article {
  position: absolute;
  left: 50px;
  top: 0;
}
#contactlogo {
  position: absolute;
  right: 10px;
  top: 15px;
}
header article h1 {
  font-size: 40px;
}
header article p {
  font-size: 10px;
  font-weight: bold;
  color: gray;
}

#logo {
  position: absolute;
  top: 7px;
}
main {
  position: relative;
}
#hr1 {
  /* position: absolute; */
  background-image: url(https://abdulelahxd.github.io/chocolate-pizza/img/hr-img.png);
  height: 20px;
  top: 80px;
}
main article div h2 {
  position: absolute;
  font-size: 50px;
  top: 30px;
  /* left: 0px; */
}
main article div p {
  position: absolute;
  font-size: 15px;
  top: 83px;
  color: gray;

}
#printP {
  position: absolute;
  right: 0px;
  top: 90px;
  color: gray;
  font-size: smaller;
}
#print {
  position: absolute;
  right: 42px;
  top: 90px;
}
#cho {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 750px;
}
#par {
  position: absolute;
  top: 900px;
  color: gray;
}

#listimg {
  position: absolute;
  top: 1050px;
  width: 100%;
  text-align: center;
}

#left {
  position: absolute;
  top: 1105px;
  font-size: 55px;
  left: 85px;
}
#right {
  position: absolute;
  top: 1105px;
  font-size: 55px;
  right: 70px;
}
#hr2 {
  background-image: url(https://abdulelahxd.github.io/chocolate-pizza/img/hr-img.png);
  height: 20px;
}
#footer {
  position: absolute;
  top: 1600px;
  width: 100%;
}
#vanName{
  position: absolute;
  top: 40px;
  left: 80px;
  color: rgb(100, 99, 99);
  font-size: 20px;
}
#vanP {
  position: absolute;
  top: 70px;
  left: 80px;
  color: rgb(131, 131, 131);
  font-size: 15px;
}
button {
  position: absolute;
  font-size: 20px;
  right: 0px;
  top: 50px;
  padding: 15px;
  background-color: rgb(165, 65, 65);
  color: rgb(189, 186, 186);
  
}

footer article {
  position: absolute;
  top: 1800px;
  text-align: center;
  width: 100%;
}
footer article #fp1 {
  position: absolute;
  top: 50px;
  text-align: center;
  width: 100%;
  color: gray;
}

footer article #fp2 {
  position: absolute;
  top: 69px;
  text-align: center;
  width: 100%;
  color: gray;
}
#slogo {
  position: absolute;
  top: -7px;
  right: 750px;
  
}
